/*
# : Style an item by a specific ID
{} : Domain of properties
.ClassName : Style an entire class of Items
.root : style Root node

 */
.root{
    /* Style Color in FX
    Hex Values
    or Colors
    */
    -fx-background-color: lightskyblue;
}
#circleLabel{
    -fx-text-fill: lightskyblue;
}
.label{
    -fx-font-size: 12;
    -fx-font-family: Papyrus;
    -fx-text-fill: white;
    -fx-alignment: center;
}
.button{
    -fx-background-color: grey;
}